bin
obj
.idea
.idea
MainTemplate/.vs
MainTemplate/nupkg
Level X/.vs
Level X/nupkg
.env.prod
AspnextTemplate/nupkg
AspnextTemplate/Template/react-vite/node_modules
**/.DS_Store
experiments
src/template/nupkg
