bin
obj
.idea
.idea
MainTemplate/.vs
MainTemplate/nupkg
Level X/.vs
Level X/nupkg
.env.prod
Asp.AwesomeTemplates.Spa/nupkg
Asp.AwesomeTemplates.Spa/Template/react-vite/node_modules
**/.DS_Store
experiments
